* {
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-invalid {
    border-color: red;
}

.is-valid {
    border-color: lightgreen;
}

.error-msg {
    color: red;
    font-style: italic;
}